footer {
    font-size: 14px;
    @include media-breakpoint-down(md) {
        background-color: #404040;
        color: $white;
    }
}
.top-footer {
    padding: 20px 0;
    border-bottom: 1px solid #E1E1E1;
    @include media-breakpoint-down(md) {
        background-color: $seccondary-gray;
        color: $text-base;
    }
}

.main-footer {
    padding: 35px 0 10px 0;
    @include media-breakpoint-down(md) {
       padding: 30px 0 30px 0;
    }
}

.footer-title {
    color: $text-bold;
    font-weight: 700;
    font-size: 14px;
    @include media-breakpoint-down(md) {
        color: $white;
    }
}
.footer-nav-info {
    list-style-type: none;
}

.footer-nav {
    list-style-type: none;
    li {
        background-image: url('../images/icon-arrow-right-small.svg');
        background-repeat: no-repeat;
        padding-left: 15px;
        background-position: top 5px left;
        a {
            transition: color 0.3s;
            &:hover {
                color: $primary-color;
            }
        }
        @include media-breakpoint-down(md) {
            background-image: url('../images/icon-arrow-right-gray.svg');
        }
    }
}
.footer-nav, .footer-nav-info {
    li:not(:last-child) {
        margin-bottom: 10px;
    }
    li a {
        display: block;
    }
}

.copy-right {
    padding: 10px 0;
    background-color: $light-blue;
    @include media-breakpoint-down(md) {
        background-color: #262626;
        p {
            color: $bg1;
        };
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ft-dropdown-wrapper {
        background-color: $white;
        border-radius: 1000px;
        padding: 5px 10px;
    }
    .has-dropdown {
        margin-right: 15px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            background: url(../images/icon-caret-down.svg);
            position: absolute;
            width: 12px;
            height: 8px;
            right: -15px;
            top: 5px;
        }
        .ft-dropdown {
            list-style-type: none;
            position: absolute;
            bottom: 100%;
            left: -10px;
            width: max-content;
            background-color: $white;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            padding: 10px;
            display: none;
            li {
                display: block;
                a {
                    display: block;
                    text-align: left;
                    &:hover {
                        color: $primary-color;
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
        &:hover {
            .ft-dropdown {
                display: block;
            }
        }
    }
}
@include media-breakpoint-down(md) { 
    .footer-mobile {
        .top-footer-mobile {
            background-color: #f5f5f5;
            padding:20px 10px 30px 15px;
            
            .input-newsletter {
                form {
                    .form-newsletter {
                        font-style: italic;
                        background: transparent;
                        max-width: 100%;
                        padding: 14px 33px 14px 11px;
                        margin-right: 10px;
                        border-color:#BE1E2D;
                        border-radius: 0%;
                        height: 40px;
                    }
                    button.btn-gradient {
                        background:linear-gradient(90deg, #BE1E2D 0%, #EC1C24 100%);;
                        color:#ffffff;
                        border:none;
                    }
                }
                
            }
           
            
        }
    }
}
