.border-secondary-1 {
    border: 1px solid $secondary-color;
}
.border-top-6px {
    border-top-width: 6px;
}
.tab-menu-1 {
    .tab-item {
        display: inline-block;
        color: $blue-color-dark;
        text-align: center;
        padding: 10px;
        flex-grow: 1;
        transition: all 0.3s;
        &:not(:last-of-type) {
            border-right: 1px solid $secondary-color;
        }
        &.active,
        &:hover {
            background: $green-dark;
            color: #fff;
        }
    }
}
.box-blue-1 {
    width: 38px;
    height: 38px;
    border-bottom-left-radius: 0 !important;
    &.mobile {
        width: 21px;
        height: 21px;
        padding: 4px;
        font-size: 9px;
    }
}
.text-medium-900 {
    font-weight: 900;
}
.dot-middle-1 {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #828282;
}
.bg-filter-range {
    background: url(../images/bg-filter-range.svg) no-repeat;
    background-position: bottom left;
}
.filter-text-run {
    .left-run {
        // min-width: 112px;
        width: fit-content;
        background: $secondary-color;
        position: absolute;
        bottom: calc(100% + 18px);
        transform: translateX(-8px);
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0%;
            transform: translateX(50%);
            width: 6px;
            border: 4px solid transparent;
            border-top-color:  $secondary-color;
        }
    }
    .right-run {
        // min-width: 112px;
        width: fit-content;
        background:  $secondary-color;
        position: absolute;
        bottom: calc(100% + 18px);
        transform: translateX(calc(-100% + 8px));
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            right: 0%;
            transform: translateX(-50%);
            width: 6px;
            border: 4px solid transparent;
            border-top-color:  $secondary-color;
        }
    }
    .merge-run {
        // width: fit-content;
        left: 50%;
        text-align: center;
        transform: translateX(-8px);
        background:  $secondary-color;
        position: absolute;
        bottom: calc(100% + 18px);
        display: none;
        
    }
    &.merge {
        .merge-run {
            display: flex;
            justify-content: space-between;
            z-index: 3;
        }
        .left-run {
            background: transparent;
            color: transparent;
        }
        .right-run {
            background: transparent;
            color: transparent;
        }
    }
}
.flex-basic-176 {
    flex: 0 1 176px;
}
.search-cus-1 {
    position: relative;
    z-index: 10;
    .img-search {
        display: none;
    }
    .input-search {
        font-size: 14px;
        color: #2e2e2e;
    }
    .search-clear {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    .dropdown-adults {
        position: absolute;
        top: 100%;
        left: 0;
    }
    .dropdown-children {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown-rooms {
        position: absolute;
        top: 100%;
        right: 0;
    }
    .search-brief {
        transition: all 0.3s;
    }
    .search-show-focus {
        transition: all 0.3s;
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .search-clear {
        display: none;
    }
    &.active {
        .search-clear {
            display: block;
        }
        .search-brief {
            height: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
            padding: 0 !important;
            margin: 0 !important;
        }
        .search-show-focus {
            transition: all 0.3s;
            height: auto;
            opacity: 1;
            overflow: visible;
            visibility: visible;
        }
    } 

}
.drop-content {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
.box-shadow-4 {
    box-shadow: 1px 2px 2px rgba(19, 20, 21, 0.08);
}
.filter-options {
    width: 100%;
    top: calc(100% + 1px);
    left: 0; 
}
.sort-options {
    top: calc(100% + 3px);
}
.filter-hotels {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    transition: all 0.3s;
    .header-filter {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    .footer-filter {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .filter-body {
        position: absolute;
        top: 48px;
        bottom: 158px;
        // background: $accent;
        width: 100%;
        overflow-y: auto;
    }
    &.show {
        top: 0;
    }
}
.filter-maps {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
    background: rgb(27, 26, 26);
    &.show {
        top: 0;
    }
}
.pos-cus-map {
    position: absolute;
    top: 58px;
    left: 25px;
    right: 15px;
}