.border-secondary-1 {
    border: 1px solid $secondary-color;
}
.border-top-6px {
    border-top-width: 6px;
}
.tab-menu-1 {
    .tab-item {
        display: inline-block;
        color: $blue-color-dark;
        text-align: center;
        padding: 10px;
        flex-grow: 1;
        transition: all 0.3s;
        &:not(:last-of-type) {
            border-right: 1px solid $secondary-color;
        }
        &.active,
        &:hover {
            background: $green-dark;
            color: #fff;
        }
    }
}
.box-blue-1 {
    width: 38px;
    height: 38px;
    border-bottom-left-radius: 0 !important;
    &.mobile {
        width: 21px;
        height: 21px;
        padding: 4px;
        font-size: 9px;
    }
}
.text-medium-900 {
    font-weight: 900;
}
.dot-middle-1 {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #828282;
}
.bg-filter-range {
    background: url(../images/bg-filter-range.svg) no-repeat;
    background-position: bottom left;
}
.filter-text-run {
    .left-run {
        // min-width: 112px;
        width: fit-content;
        background: $secondary-color;
        position: absolute;
        bottom: calc(100% + 18px);
        transform: translateX(-8px);
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0%;
            transform: translateX(50%);
            width: 6px;
            border: 4px solid transparent;
            border-top-color:  $secondary-color;
        }
    }
    .right-run {
        // min-width: 112px;
        width: fit-content;
        background:  $secondary-color;
        position: absolute;
        bottom: calc(100% + 18px);
        transform: translateX(calc(-100% + 8px));
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            right: 0%;
            transform: translateX(-50%);
            width: 6px;
            border: 4px solid transparent;
            border-top-color:  $secondary-color;
        }
    }
    .merge-run {
        // width: fit-content;
        left: 50%;
        text-align: center;
        transform: translateX(-8px);
        background:  $secondary-color;
        position: absolute;
        bottom: calc(100% + 18px);
        display: none;
        
    }
    &.merge {
        .merge-run {
            display: flex;
            justify-content: space-between;
            z-index: 3;
        }
        .left-run {
            background: transparent;
            color: transparent;
        }
        .right-run {
            background: transparent;
            color: transparent;
        }
    }
}
.flex-basic-176 {
    flex: 0 1 176px;
}
.search-cus-1 {
    position: relative;
    z-index: 10;
    .img-search {
        display: none;
    }
    .input-search {
        font-size: 14px;
        color: #2e2e2e;
    }
    .search-clear {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    .dropdown-adults {
        position: absolute;
        top: 100%;
        left: 0;
    }
    .dropdown-children {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown-rooms {
        position: absolute;
        top: 100%;
        right: 0;
    }
    .search-brief {
        transition: all 0.3s;
    }
    .search-show-focus {
        transition: all 0.3s;
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .search-clear {
        display: none;
    }
    &.active {
        .search-clear {
            display: block;
        }
        .search-brief {
            height: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
            padding: 0 !important;
            margin: 0 !important;
        }
        .search-show-focus {
            transition: all 0.3s;
            height: auto;
            opacity: 1;
            overflow: visible;
            visibility: visible;
        }
    } 

}
.drop-content {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
.box-shadow-4 {
    box-shadow: 1px 2px 2px rgba(19, 20, 21, 0.08);
}
.filter-options {
    width: 100%;
    top: calc(100% + 1px);
    left: 0; 
}
.sort-options {
    top: calc(100% + 3px);
}
.filter-hotels {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    transition: all 0.3s;
    .header-filter {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    .footer-filter {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .filter-body {
        position: absolute;
        top: 48px;
        bottom: 158px;
        // background: $accent;
        width: 100%;
        overflow-y: auto;
    }
    &.show {
        top: 0;
    }
}
.filter-maps {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
    background: rgb(27, 26, 26);
    &.show {
        top: 0;
    }
}
.pos-cus-map {
    position: absolute;
    top: 58px;
    left: 25px;
    right: 15px;
}
<<<<<<< HEAD
.img-191-round{
    height: 191px;
    width: 191px;
    img{
        height: 191px;
        width: 191px;
    }
=======
.line-height-1 {
    line-height: 1;
}
.flex-basic-163 {
    flex-basis: 163px;
}
.text-truncation-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.border-bottom-secondary {
    border-bottom: 1px solid #005AEB;
}
.no-radius-bot-right {
    border-bottom-right-radius: 0 !important;
}
.flex-basic-252 {
    flex-basis: 252px;
}

.hotel-room {
    display: flex;
    justify-content: space-between;
    .room-left {
        flex: 0 1 252px;
        margin-right: 10px;
        .img-room {
            margin-bottom: 10px;
            width: 100%;
        }
    }
    .room-right {
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        .detail-item {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        .detail-item:not(:last-child) {
            border-right: 1px solid #c8cacd ;
        }
        .head {
            background-color: #ebebec;
        }
        .content {
            height: 100%;
        }
        .benefit {
        }
        .sleep {
            flex: 0 0 120px;
        }
        .price {
            flex: 0 1 187px;
        }
        .rooms {
            select {
                width: 74px;
            }
        }
        .book-now {
            // flex-basis: 0 1 234px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .hotel-room {
        flex-wrap: wrap;
        .room-left {
            flex: 0 1 auto;
            width: 100%;
            margin-right: 0px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            // border-bottom: 1px solid #828282;
            display: flex; 
            align-items: center;
            .img-room {
                width: 252px;
                height: 100%;
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
        .room-right {
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
        }
    }
}
.box-sale-cus-1 {
    top: 10px;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
>>>>>>> 7b110112a0c57b08c85d0ad59fbcef2fabea7013
}