    .mr-0 {
        margin-right: 0px !important;
    }
    
    .mr-5 {
        margin-right: 5px !important;
    }
    
    .ml-lg-45 {
        @include media-breakpoint-up(lg) {
            margin-left: 45px !important;
        }
    }
    
    .mt-n15 {
        margin-top: -15px !important;
    }
    
    .mt-n120 {
        margin-top: -120px !important;
    }
    
    .mb-24 {
        margin-bottom: 24px !important;
    }
    
    .mb-n30 {
        margin-bottom: -30px !important;
    }
    
    .mb-n74 {
        margin-bottom: -74px !important;
    }
    
    .px-7-plus {
        padding-left: 7.5px !important;
        padding-right: 7.5px !important;
    }
    
    .my-7-plus {
        margin-top: 7.5px !important;
        margin-bottom: 7.5px !important;
    }
    
    .mb-34 {
        margin-bottom: 34px !important;
    }
    
    .my-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    
    .ml-15 {
        margin-left: 15px !important;
    }
    
    .ml-10 {
        margin-left: 10px !important;
    }
    
    .ml-10n {
        margin-left: -10px !important;
    }
    
    .mb-16 {
        margin-bottom: 16px!important;
    }
    
    .pt-58 {
        padding-top: 58px !important;
    }
    
    .pb-60 {
        padding-bottom: 60px !important;
    }
    
    .mr-24 {
        margin-right: 24px !important;
    }
    
    .mb-0 {
        margin-bottom: 0px!important;
    }
    
    .pl-50 {
        padding-left: 50px!important;
    }
    
    .mr--6 {
        margin-right: -6px!important;
    }
    
    .height-fit-content {
        height: fit-content;
    }
    
    .mr-9 {
        margin-right: 9px!important;
    }
    
    .height-background-20 {
        height: 20px!important;
    }
    
    .pr-16 {
        padding-right: 16px!important;
    }
    
    .pb-22 {
        padding-bottom: 22px!important;
    }
    
    .pt-14 {
        padding-top: 14px!important;
    }
    
    .py-14 {
        padding-top: 14px!important;
        padding-bottom: 14px!important;
    }
    
    .mr-10 {
        margin-right: 10px !important;
    }
    
    .mr-15 {
        margin-right: 15px !important;
    }
    
    .mr-20 {
        margin-right: 20px !important;
    }
    
    .mr-25 {
        margin-right: 25px !important;
    }
    
    .mr-30 {
        margin-right: 30px !important;
    }
    
    .mr-35 {
        margin-right: 35px !important;
    }
    
    .mr-40 {
        margin-right: 40px !important;
    }
    
    .mr-60 {
        margin-right: 60px!important;
    }
    
    .p-10 {
        padding: 10px !important;
    }
    
    .p-15 {
        padding: 15px !important;
    }
    
    .p-20 {
        padding: 20px !important;
    }
    
    .p-50 {
        padding: 50px !important;
    }
    
    .p-100 {
        padding: 100px !important;
    }
    
    .px-5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    .px-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    .px-12 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    
    .px-15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    
    .px-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    
    .px-35 {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    
    .px-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    
    .px-50 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    
    .px-60 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    
    .pt-60 {
        padding-top: 60px!important;
    }
    
    .px-113 {
        padding-left: 113px !important;
        padding-right: 113px !important;
    }
    
    .py-11 {
        padding-top: 11px !important;
        padding-bottom: 11px !important
    }
    
    .pt-21 {
        padding-top: 21px!important;
    }
    
    .pl-5 {
        padding-left: 5px !important;
    }
    
    .pr-28 {
        padding-right: 28px!important;
    }
    
    .pr-10 {
        padding-right: 10px!important;
    }
    
    .pl-10 {
        padding-left: 10px !important;
    }
    
    .pl-12 {
        padding-left: 12px !important;
    }
    
    .py-3 {
        padding-top: 3px!important;
        padding-bottom: 3px!important;
    }
    
    .py-5 {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
    }
    
    .mt-31 {
        margin-top: 31px!important;
    }
    
    .pl-15 {
        padding-left: 15px !important;
    }
    
    .pl-20 {
        padding-left: 20px !important;
    }
    
    .pl-24 {
        padding-left: 24px!important;
    }
    
    .pl-30 {
        padding-left: 30px !important;
    }
    
    .pl-35 {
        padding-left: 35px !important;
    }
    
    .pl-50 {
        padding-left: 50px !important;
    }
    
    .pl-80 {
        padding-left: 80px !important;
    }
    
    .pl-120 {
        padding-left: 120px !important;
    }
    
    .pl-130 {
        padding-left: 130px !important;
    }
    
    .pl-150 {
        padding-left: 150px !important;
    }
    
    .pr-5 {
        padding-right: 5px !important;
    }
    
    .pr-8 {
        padding-right: 8px !important;
    }
    
    .pr-12 {
        padding-right: 12px im !important;
    }
    
    .pr-15 {
        padding-right: 15px !important;
    }
    
    .pr-20 {
        padding-right: 15px !important;
    }
    
    .pr-30 {
        padding-right: 30px !important;
    }
    
    .pr-50 {
        padding-right: 50px !important;
    }
    
    .pr-130 {
        padding-right: 130px !important;
    }
    
    .pr-150 {
        padding-right: 150px !important;
    }
    
    .m-0-auto {
        margin: 0 auto;
    }
    
    .m-15 {
        margin: 15px !important;
    }
    
    .mx-10 {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    
    .mb-17 {
        margin-bottom: 17px!important;
    }
    
    .mx-15 {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    
    .mxc-15 {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    
    .mx-30 {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    
    .mx-50 {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    
    .mb-90 {
        margin-bottom: 90px !important;
    }
    
    .mb-70 {
        margin-bottom: 70px !important;
    }
    
    .mb-60 {
        margin-bottom: 60px !important;
    }
    
    .mb-50 {
        margin-bottom: 50px !important;
    }
    
    .mb-40 {
        margin-bottom: 40px !important;
    }
    
    .mb-35 {
        margin-bottom: 35px !important;
    }
    
    .mb-30 {
        margin-bottom: 30px !important;
    }
    
    .mb-25 {
        margin-bottom: 25px !important;
    }
    
    .mb-20 {
        margin-bottom: 20px !important;
    }
    
    .mb-17 {
        margin-bottom: 17px !important;
    }
    
    .mb-15 {
        margin-bottom: 15px !important;
    }
    
    .mb-13 {
        margin-bottom: 13px !important;
    }
    
    .mb-12 {
        margin-bottom: 12px !important;
    }
    
    .mb-10 {
        margin-bottom: 10px !important;
    }
    
    .mb-5 {
        margin-bottom: 5px !important;
    }
    
    .mb-4 {
        margin-bottom: 4px !important;
    }
    
    .mt-5 {
        margin-top: 5px !important;
    }
    
    .mt-6 {
        margin-top: 6px !important;
    }
    
    .mt-10 {
        margin-top: 10px !important;
    }
    
    .mt-12 {
        margin-top: 12px !important;
    }
    
    .mt-15 {
        margin-top: 15px !important;
    }
    
    .mt-20 {
        margin-top: 20px !important;
    }
    
    .mt-25 {
        margin-top: 25px !important;
    }
    
    .mt-30 {
        margin-top: 30px !important;
    }
    
    .mt-35 {
        margin-top: 35px !important;
    }
    
    .mt-40 {
        margin-top: 40px !important;
    }
    
    .mt-45 {
        margin-top: 45px !important;
    }
    
    .mt-50 {
        margin-top: 50px !important;
    }
    
    .mt-60 {
        margin-top: 60px !important;
    }
    
    .mt-100 {
        margin-top: 100px !important;
    }
    
    .mt-140 {
        margin-top: 140px !important;
    }
    
    .mt-180 {
        margin-top: 180px !important;
    }
    
    .mt-200 {
        margin-top: 200px !important;
    }
    
    .p-40 {
        padding: 40px !important;
    }
    
    .p-0-20 {
        padding: 0px 20px!important;
    }
    
    .pb-5 {
        padding-bottom: 5px !important;
    }
    
    .pb-10 {
        padding-bottom: 10px !important;
    }
    
    .pb-12 {
        padding-bottom: 12px !important;
    }
    
    .pb-14 {
        padding-bottom: 14px !important;
    }
    
    .pb-15 {
        padding-bottom: 15px !important;
    }
    
    .pb-20 {
        padding-bottom: 20px !important;
    }
    
    .pb-25 {
        padding-bottom: 25px !important;
    }
    
    .pb-30 {
        padding-bottom: 30px !important;
    }
    
    .pb-40 {
        padding-bottom: 40px !important;
    }
    
    .pb-48 {
        padding-bottom: 48px !important;
    }
    
    .pb-50 {
        padding-bottom: 50px !important;
    }
    
    .pb-60 {
        padding-bottom: 60px !important;
    }
    
    .pb-95 {
        padding-bottom: 95px;
    }
    
    .pb-60 {
        padding-bottom: 60px!important;
    }
    
    .pb-64 {
        padding-bottom: 64px !important;
    }
    
    .pt-16c5 {
        padding-top: 16.5px !important;
    }
    
    .pb-16c5 {
        padding-bottom: 16.5px !important;
    }
    
    .pt-30 {
        padding-top: 30px !important;
    }
    
    .pt-100 {
        padding-top: 100px !important;
    }
    
    .pt-70 {
        padding-top: 70px;
    }
    
    .pt-90 {
        padding-top: 90px !important;
    }
    
    .pt-85 {
        padding-top: 85px !important;
    }
    
    .pt-70 {
        padding-top: 70px !important;
    }
    
    .pt-50 {
        padding-top: 50px !important;
    }
    
    .pt-40 {
        padding-top: 40px !important;
    }
    
    .pt-20 {
        padding-top: 20px !important;
    }
    
    .pt-26 {
        padding-top: 26px!important;
    }
    
    .pt-15 {
        padding-top: 15px !important;
    }
    
    .pb-14 {
        padding-bottom: 14px!important;
    }
    
    .pt-10 {
        padding-top: 10px !important;
    }
    
    .w-149 {
        width: 149px;
        height: auto;
    }
    
    .mr-17 {
        margin-right: 17px!important;
    }
    
    .px-60 {
        padding-left: 60px!important;
        padding-right: 60px!important;
    }
    
    .mx-8 {
        margin-left: 8px!important;
        margin-right: 8px!important;
    }
    
    .height-15 {
        height: 15px;
    }
    
    .pt-5 {
        padding-top: 5px !important;
    }
    
    .pt-0 {
        padding-top: 0px !important;
    }
    
    .py-8 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    
    .py-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    
    .py-12 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    
    .py-15 {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    .py-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    
    .py-25 {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    
    .py-30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    
    .py-40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    
    .py-50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    
    .py-6 {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
    
    .py-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    
    .pl-10 .py-85 {
        padding-top: 85px !important;
        padding-bottom: 85px !important;
    }
    
    .p-30 {
        padding: 30px !important;
    }
    
    .my-5 {
        margin: 5px 0 !important;
    }
    
    .height-40 {
        height: 40px!important;
    }
    
    .my-10 {
        margin: 10px 0 !important;
    }
    
    li.pb-10 a:hover {
        color: #EC1C24;
    }
    
    .my-12 {
        margin: 12px 0 !important;
    }
    
    .pb-35 {
        padding-bottom: 35px!important;
    }
    
    .pb-6 {
        padding-bottom: 6px!important;
    }
    
    .my-15 {
        margin: 15px 0 !important;
    }
    
    .my-20 {
        margin: 20px 0 !important;
    }
    
    .my-30 {
        margin: 30px 0 !important;
    }
    
    .px-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
    .px-25 {
        padding: 0 25px !important;
    }
    
    .py30-x15 {
        padding: 30px 15px !important;
    }
    
    .ml-5 {
        margin-left: 5px !important;
    }
    
    .ml-20 {
        margin-left: 20px !important;
    }
    
    .ml-30 {
        margin-left: 30px !important;
    }
    
    .ml-40 {
        margin-left: 40px !important;
    }
    
    .ml-50 {
        margin-left: 50px !important;
    }
    
    .ml-lg-40 {
        @include media-breakpoint-up(lg) {
            margin-left: 40px !important;
        }
    }
    
    .ml-lg-45 {
        @include media-breakpoint-up(lg) {
            margin-left: 45px !important;
        }
    }
    
    .mt-n15 {
        margin-top: -15px !important;
    }
    
    .mt-n120 {
        margin-top: -120px !important;
    }
    
    .mb-24 {
        margin-bottom: 24px !important;
    }
    
    .mb-n30 {
        margin-bottom: -30px !important;
    }
    
    .mb-n74 {
        margin-bottom: -74px !important;
    }
    
    .px-7-plus {
        padding-left: 7.5px !important;
        padding-right: 7.5px !important;
    }
    
    .my-7-plus {
        margin-top: 7.5px !important;
        margin-bottom: 7.5px !important;
    }
    
    .mb-34 {
        margin-bottom: 34px !important;
    }
    
    .my-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    
    .ml-15 {
        margin-left: 15px !important;
    }
    
    .ml-10 {
        margin-left: 10px !important;
    }
    
    .ml-10n {
        margin-left: -10px !important;
    }
    
    .mb-16 {
        margin-bottom: 16px!important;
    }
    
    .pt-58 {
        padding-top: 58px !important;
    }
    
    .pb-60 {
        padding-bottom: 60px !important;
    }
    
    .mr-24 {
        margin-right: 24px !important;
    }
    
    .mb-0 {
        margin-bottom: 0px!important;
    }
    
    .pl-50 {
        padding-left: 50px!important;
    }
    
    .height-fit-content {
        height: fit-content;
    }
    
    .mr-9 {
        margin-right: 9px!important;
    }
    
    .flex-186 {
        flex: 1 0 186px!important;
    }
    
    .overflow-x-auto {
        overflow-x: auto!important;
    }
    
    @include media-breakpoint-down(md) {
        .m-xs-0-auto {
            margin: 0 auto;
        }
        .pb-xs-10 {
            padding-bottom: 10px!important;
        }
        .mx-xs-15 {
            margin-left: 15px!important;
            margin-right: 15px!important;
        }
        .py-xs-15 {
            padding-top: 15px!important;
            padding-bottom: 15px!important;
        }
        .m-xs--15 {
            margin-right: -15px;
            margin-left: -15px;
        }
        .pr-16 {
            padding-right: 16px!important;
        }
        .pb-22 {
            padding-bottom: 22px!important;
        }
        .pt-14 {
            padding-top: 14px!important;
        }
        @include media-breakpoint-down(md) {
            .py-14 {
                padding-top: 14px!important;
                padding-bottom: 14px!important;
            }
            .px-xs-27 {
                padding-right: 27px!important;
                padding-left: 27px!important;
            }
            .px-xs-10 {
                padding-left: 10px!important;
                padding-right: 10px!important;
            }
            .py-xs-10 {
                padding-top: 10px!important;
                padding-bottom: 10px!important;
            }
            .mx-xs-0 {
                margin-left: 0px!important;
                margin-right: 0px!important;
            }
            .mb-xs-20 {
                margin-bottom: 20px!important;
            }
            .mb-xs-10 {
                margin-bottom: 10px!important;
            }
            .ml-xs-20 {
                margin-left: 20px!important;
            }
            .mr-xs-0 {
                margin-right: 0px!important;
            }
            .py-xs-20 {
                padding-top: 20px!important;
                padding-bottom: 20px!important;
            }
            .border-xs {
                border: 1px solid #dee2e6!important;
            }
            .pb-xs-10 {
                padding-bottom: 10px!important;
            }
            .pr-xs-15 {
                padding-right: 15px!important;
            }
            .pl-xs-15 {
                padding-left: 15px!important;
            }
            .ml-xs-0 {
                margin-left: 0px!important;
            }
            .pl-xs-10 {
                padding-left: 10px !important;
            }
            .pr-xs-10 {
                padding-right: 10px !important;
            }
            .ml-xs-15 {
                margin-left: 15px !important;
            }
            .mr-xs-15 {
                margin-right: 15px !important;
            }
            .pb-xs-20,
            .step-processing p.text-step.pb-xs-20 {
                padding-bottom: 20px!important;
            }
            .pt-15-mobile {
                padding-top: 15px!important;
            }
            .pb-15-mobile {
                padding-bottom: 15px!important;
            }
            .pl-12-mobile {
                padding-left: 12px !important;
            }
            .pr-12-mobile {
                padding-right: 12px !important;
            }
            .mb-14-mobile {
                margin-bottom: 14px;
            }
            .mb-20-mobile {
                margin-bottom: 20px;
            }
            .pb-0-mobile {
                padding-bottom: 0px!important;
            }
            .pb-30-mobile {
                padding-bottom: 30px!important;
            }
            .pt-0-mobile {
                padding-top: 0px!important
            }
            .pb-20-mobile {
                padding-bottom: 20px!important;
            }
            .pb-40-mobile {
                padding-bottom: 40px!important;
            }
            .pt-30-mobile {
                padding-top: 30px!important;
            }
            .mb-80-mobile {
                margin-bottom: 80px!important;
            }
            .pb-70-mobile {
                padding-bottom: 70px!important;
            }
            .ml-0-mobile {
                margin-left: 0px!important;
            }
            .pb-20-mobile {
                padding-bottom: 20px!important;
            }
            .mb-xs-0 {
                margin-bottom: 0 !important;
            }
            .mb-xs-10 {
                margin-bottom: 10px !important;
            }
            .mb-xs-12 {
                margin-bottom: 12px !important;
            }
            .mb-xs-15 {
                margin-bottom: 15px !important;
            }
            .mb-xs-20 {
                margin-bottom: 20px !important;
            }
            .mb-xs-30 {
                margin-bottom: 30px !important;
            }
            .mb-xs-90 {
                margin-bottom: 90px !important;
            }
            .mt-xs-0 {
                margin-top: 0px !important;
            }
            .mt-xs-10 {
                margin-top: 10px !important;
            }
            .mt-xs-15 {
                margin-top: 15px !important;
            }
            .mt-xs-20 {
                margin-top: 20px !important;
            }
            .mr-xs-10 {
                margin-right: 10px !important;
            }
            .mt-xs-30 {
                margin-top: 30px !important;
            }
            .pb-xs-15 {
                padding-bottom: 15px !important;
            }
            .pb-xs-20 {
                padding-bottom: 20px !important;
            }
            .pb-xs-25 {
                padding-bottom: 25px !important;
            }
            .pb-xs-30 {
                padding-bottom: 30px !important;
            }
            .pb-xs-50 {
                padding-bottom: 50px !important;
            }
            .pb-xs-70 {
                padding-bottom: 70px !important;
            }
            .pb-xs-140 {
                padding-bottom: 140px !important;
            }
            .pt-xs-10 {
                padding-top: 10px !important;
            }
            .pt-xs-20 {
                padding-top: 20px !important;
            }
            .py-xs-50 {
                padding: 50px 0 !important;
            }
            .mb-xs-20 {
                margin-bottom: 20px !important;
            }
            .m-xs-0 {
                margin: 0px !important;
            }
            .mr-xs-5 {
                margin-right: 5px !important;
            }
            .p-xs-16 {
                padding: 16px !important;
            }
            .p-xs-5 {
                padding: 5px !important;
            }
            .p-xs-0 {
                padding: 0 !important;
            }
            .pt-xs-0 {
                padding-top: 0px !important;
            }
            .pt-xs-40 {
                padding-top: 40px !important;
            }
            .pb-xs-0 {
                padding-bottom: 0px!important;
            }
            .pt-xs-60 {
                padding-top: 60px !important;
            }
            .pl-xs-0 {
                padding-left: 0px!important;
            }
            .pr-xs-30 {
                padding-right: 30px !important;
            }
            .pr-xs-0 {
                padding-right: 0!important;
            }
            .px-xs-0 {
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
            .py-xs-0 {
                padding-top: 0px!important;
                padding-bottom: 0px!important;
            }
            .px-xs-12 {
                padding-right: 12px !important;
                padding-left: 12px !important;
            }
            .px-xs-15 {
                padding-right: 15px !important;
                padding-left: 15px !important;
            }
            .px-xs-20 {
                padding-right: 20px !important;
                padding-left: 20px !important;
            }
            .py-xs-20 {
                padding-top: 20px !important;
                padding-bottom: 20px !important;
            }
        }
    }
    
    @include media-breakpoint-up(lg) {
        .pb-lg-100 {
            padding-bottom: 100px !important;
        }
        .mb-lg-30 {
            margin-bottom: 30px!important;
        }
        .pl-lg-10 {
            padding-left: 10px!important;
        }
        .pl-lg-20 {
            padding-left: 20px!important;
        }
        .pl-lg-60 {
            padding-left: 60px!important;
        }
        .pl-lg-80 {
            padding-left: 80px!important;
        }
        .pb-lg-85 {
            padding-bottom: 85px !important;
        }
        .pr-lg-10 {
            padding-right: 10px!important;
        }
        .pr-lg-50 {
            padding-right: 50px !important;
        }
        .pb-lg-60 {
            padding-bottom: 60px !important;
        }
        .pb-lg-30 {
            padding-bottom: 30px !important;
        }
        .pb-lg-40 {
            padding-bottom: 40px !important;
        }
        .pb-lg-50 {
            padding-bottom: 50px !important;
        }
        .pb-lg-20 {
            padding-bottom: 20px !important;
        }
        .pt-lg-12 {
            padding-top: 12px !important;
        }
        .pt-lg-20 {
            padding-top: 20px !important;
        }
        .pt-lg-30 {
            padding-top: 30px !important;
        }
        .pt-lg-40 {
            padding-top: 40px !important;
        }
        .pt-lg-50 {
            padding-top: 50px !important;
        }
        .pt-lg-60 {
            padding-top: 60px !important;
        }
        .pt-lg-85 {
            padding-top: 85px!important;
        }
        .pt-lg-130 {
            padding-top: 130px !important;
        }
        .p-lg-0 {
            padding: 0 !important;
        }
        .p-lg-20 {
            padding: 20px!important;
        }
        .p-lg-40 {
            padding: 40px !important;
        }
        .p-lg-50 {
            padding: 50px !important;
        }
        .p-lg-100 {
            padding: 100px !important;
        }
        .ml-lg-0 {
            margin-left: 0 !important;
        }
        .ml-lg-10 {
            margin-left: 10px !important;
        }
        .ml-lg-20 {
            margin-left: 20px !important;
        }
        .ml-lg-30 {
            margin-left: 30px !important;
        }
        .ml-lg-35 {
            margin-left: 35px !important;
        }
        .ml-lg-auto {
            margin-left: auto !important;
        }
        .mt-lg-0 {
            margin-top: 0px !important;
        }
        .mt-lg-10 {
            margin-top: 10px !important;
        }
        .mt-lg-12 {
            margin-top: 12px !important;
        }
        .mt-lg-15 {
            margin-top: 15px !important;
        }
        .mt-lg-20 {
            margin-top: 20px !important;
        }
        .mt-lg-25 {
            margin-top: 25px !important;
        }
        .mt-lg-30 {
            margin-top: 30px !important;
        }
        .mt-lg-40 {
            margin-top: 40px !important;
        }
        .mt-lg-50 {
            margin-top: 50px !important;
        }
        .mt-lg-60 {
            margin-top: 60px !important;
        }
        .mt-lg-100 {
            margin-top: 100px !important;
        }
        .mt-lg-180 {
            margin-top: 180px !important;
        }
        .mt-lg-n15 {
            margin-top: -15px !important;
        }
        .mt-lg-n114 {
            margin-top: -114px !important;
        }
        .mt-lg-n128 {
            margin-top: -128px !important;
        }
        .mb-lg-0 {
            margin-bottom: 0 !important;
        }
        .mb-lg-4 {
            margin-bottom: 4px !important;
        }
        .mb-lg-10 {
            margin-bottom: 10px !important;
        }
        .mb-lg-12 {
            margin-bottom: 12px !important;
        }
        .mb-lg-15 {
            margin-bottom: 15px !important;
        }
        .mb-lg-20 {
            margin-bottom: 20px !important;
        }
        .mb-lg-25 {
            margin-bottom: 25px !important;
        }
        .mb-lg-30 {
            margin-bottom: 30px !important;
        }
        .mb-lg-35 {
            margin-bottom: 35px !important;
        }
        .mb-lg-40 {
            margin-bottom: 40px !important;
        }
        .mb-lg-50 {
            margin-bottom: 50px !important;
        }
        .mb-lg-60 {
            margin-bottom: 60px !important;
        }
        .mb-lg-n74 {
            margin-bottom: -74px !important;
        }
        .pl-lg-0 {
            padding-left: 0px !important;
        }
        .pl-lg-15 {
            padding-left: 15px !important;
        }
        .pr-lg-15 {
            padding-right: 15px !important;
        }
        .pr-lg-10 {
            padding-right: 10px !important;
        }
        .pr-lg-30 {
            padding-right: 30px !important;
        }
        .pr-lg-120 {
            padding-right: 120px !important;
        }
        .px-lg-0 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        .px-lg-10 {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        .px-lg-15 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .px-lg-20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        .px-lg-30 {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
        .px-lg-40 {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
        .px-lg-50 {
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
        .px-lg-60 {
            padding-left: 60px !important;
            padding-right: 60px !important;
        }
        .px-lg-90 {
            padding-left: 90px !important;
            padding-right: 90px !important;
        }
        .py-lg-0 {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        .py-lg-20 {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }
        .py-lg-30 {
            padding-top: 30px !important;
            padding-top: 30px !important;
        }
        .py-lg-40 {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
        .py-lg-50 {
            padding-top: 50px !important;
            padding-bottom: 50px !important;
        }
        .py-lg-60 {
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }
        .py-lg-90 {
            padding-top: 90px !important;
            padding-bottom: 90px !important;
        }
        .my-lg-0 {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .my-lg-12 {
            margin-top: 12px !important;
            margin-bottom: 12px !important;
        }
        .my-lg-15 {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
        }
        .my-lg-20 {
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }
        .my-lg-60 {
            margin-top: 60px !important;
            margin-bottom: 60px !important;
        }
        .my-lg-45 {
            margin-top: 45px !important;
            margin-bottom: 45px !important;
        }
        .mr-lg-250 {
            margin-right: 250px !important;
        }
        .mr-lg-20 {
            margin-right: 20px !important;
        }
        .mr-lg-25 {
            margin-right: 25px !important;
        }
        .mr-lg-10 {
            margin-right: 10px !important;
        }
        .mr-lg-5 {
            margin-right: 5px !important;
        }
        .mr-lg-0 {
            margin-right: 0px !important;
        }
        .mr-lg-auto {
            margin-right: auto !important;
        }
        .mr-lg-15 {
            margin-right: 15px !important;
        }
        .mr-lg-30 {
            margin-right: 30px !important;
        }
    }
    
    @include media-breakpoint-down(sm) {
        .px-sm-0 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .px-sm-15 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }