input.form-control {
    &:focus {
        border-color: $primary-color !important;
    }
}
input.form-control.apply {
    &:focus {
       box-shadow: none;
        border-color: #EBEBEC !important;
    }
} 
.form-input input:focus,
.form-input input:valid,
.form-input textarea:focus,
.form-input textarea:valid {
    border-bottom: 2px solid $primary-color!important;
}

.form-input input:focus+.placeholder,
.form-input input:valid+.placeholder,
.form-input textarea:focus+.placeholder,
.form-input textarea:valid+.placeholder {
    top: 0;
    cursor: inherit;
    font-size: 14px;
    color: $primary-color!important;
    ;
}

textarea {
    &.form-control {
        height: 96px !important;
        resize: none;
    }
    &.height-input {
        height: 48px !important;
        line-height: 34px;
    }
}

.input-number-wrapper {
    display: flex;
    border:none;
    align-items: center;
    .form-control[readonly]{
        background-color: $white;
    }
    input.form-control {
        text-align: center;
        width: 50px;
        border-radius: 6px;
        z-index: 2;
        border:none;
    }
    .plus , .sub {
        background-color: $white;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        transition: 0.3s;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .plus {
        margin-left: 10px;
        background-image: url(../images/icon-plus.svg);
    }
    .sub {
        margin-right: 10px;
        background-image: url(../images/icon-sub.svg);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.form-group .input-card{
    padding-left: 40px !important;
}
.icon-card{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}
.input-name{
    padding: 0 0 0 10px;
    font-size: 13px !important;
    border: none;
    height: 40px;
    font-weight: 500;
    &:focus{
        box-shadow: none !important;
    }
}
.input-name:focus + .title-input{
    top: 0;
    transform: translateY(0);
    font-size: 12px;
    top: -8px;
}
.title-input{
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all .3s;
    background-color: $white;
    &.active{
        top: -8px !important;
        transform: translateY(0);
        font-size: 12px !important;
    }
}

.credit-card{
    background-image: url(../images/icon-credit-card.svg);
    background-repeat: no-repeat;
    background-position-x: 65px;
    background-position-y: center;
}
.input-credit-card{
    border: none;
    padding:6px 4px;
    width: 40%;
    &:focus{
        box-shadow: none !important;
    }
}
.input-contact:focus-visible, .input-contact:focus{
    outline: none;
    border-color: #F53941!important;
    transition: all .3s;
    @include media-breakpoint-down(md){
        border:none;
        outline: none;
    }
}
input[type="file"]{
    display: none;
}
.form-contact-us, .form-feedback{
   @include media-breakpoint-down(md){
        ::placeholder{
            font-size: 14px
        }
        input[type="text"]{
            font-size: 14px;
        }
        textarea{
            font-size: 14px !important;
        }
   }
}
.info-full-name, .info-email, .info-content,.info-first-name,.info-middle-name,.info-last-name,.info-home-airport,.info-known-travelner,.info-mobile,.info-contact-phone,.info-zip,.info-city,.info-address-line-1,.info-address-line-2,.info-password{
    .box-content{
        font-size: 16px;
    }
    .input-contact{
        height: 100%;
        border: 1px solid #C8CACD;
    }
    @include media-breakpoint-down(md){
        ::placeholder{
            content: none;
        }
        position: relative;
        .title-input-contact{
            position: absolute;
            font-size: 14px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all .3s;
            background-color: $white;
            &.active{
                top: 5px !important;
                transform: translateY(0);
                font-size: 10px !important;
            }
        }
        .input-contact{
            border: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.input-contact:focus + .title-input-contact, .box-content:focus + .title-input-contact{
    transform: translateY(0);
    font-size: 10px;
    top: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition-delay: 3600s;
    transition-property: background-color, color;
}
